mat-card {
  margin-top: 20px;
  height: 670px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
mat-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
mat-card-actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  align-self: space-between;
}

button {
  font-style: italic;
}